
    <section>
        <div id="container">
            <div id="one" class="parkplatz_frei"><p class="inbox">
                1</p>
            </div>

            <div id="two" class="parkplatz_frei"><p class="inbox">
                2</p>
            </div>

            <div id="three" class="parkplatz_frei"><p class="inbox">
                3</p>
            </div>

            <div id="four" class="parkplatz_frei"><p class="inbox">
                4</p>
            </div>

            <div id="five" class="parkplatz_frei"><p class="inbox">
                5</p>
            </div>

            <div id="six" class="parkplatz_frei"><p class="inbox">
                6</p>
            </div>

            <div id="seven" class="parkplatz_frei"><p class="inbox">
                7</p>
            </div>

            <div id="eight" class="parkplatz_frei"><p class="inbox">
                8</p>
            </div>
            <div id="nine" class="parkplatz_frei"><p class="inbox">
                9</p>
            </div>
        </div>
    </section>